.mainProductsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #2a2a2a;
  box-shadow: 0 0 10px #fff;
  min-height: 300px;
  width: 70vw;
  margin-bottom: 40px;
  border-radius: 30px;
  padding: 20px 0px 0 0px;
}

.productsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px 40px;
    max-height: 300px;
}

.btnAdd {
    background-color: #00ff00e1;
    margin-top: 10px;
}

.btnAdd:hover {
    background-color: green;
}

@media (max-width: 1000px) {
  .productsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    scrollbar-color: #00dfd8 #333;
    scrollbar-width: thin;
  }
}