* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: rgba(255, 255, 255, 0.700);
  overflow-x: hidden;
}

html {
  scrollbar-color: #00dfd8 #333;
  scrollbar-width: thin;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #181818;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 55px 0;
  text-align: center;
  overflow-y: auto;
  scrollbar-color: #00dfd8 #333;
  scrollbar-width: thin;
}

h1 {
  background: linear-gradient(to right, #007cf0, #00dfd8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 28px;
  overflow-y: hidden;
  padding-bottom: 60px;
}

h2 {
  background: linear-gradient(to right, #007cf0 40%, #00dfd8 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 10px 0 30px 0;
  overflow-y: hidden;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #333;
  box-shadow: 0 0 10px #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h3, button, span:hover  {
  color: white;
  transition: 0.5s;
}

h3:hover {
  background: linear-gradient(to right, #007cf0 40%, #00dfd8 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: default;
}

span {
  cursor: default;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .mainContainer {
    height: auto;
  }
}